*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: halwooen;
    src: url(./font/October\ Crow.woff2) format('woff2');

}
@font-face{
    font-family: bam;
    src: url(./font/Bing\ Bam\ Boum.woff2) format('woff2');
    font-weight:normal;
    font-style: normal;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;

}
.sidebar{
    display: grid;
    gap: 2rem;
    background-color: rgb(70, 163, 206);
    max-width: 230px;
    padding: 10px 20px;
}
.sidebar img{
    width: 30px;
    height: 30px;
    display: inline;
}

.icon {
  filter: brightness(0) invert(1);
}

.dashboard div,.home div,.home-2 div{
    padding:0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}
.dashboard div:hover,.home div:hover,.home-2 div:hover{
background-color: rgb(20, 161, 226);
}